BasedOnStyle: Google
Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 140

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true

SortIncludes: false
